
/* Main definitions */
* {
	outline: none !important;
}
body {
	font-family: 'PT Sans Narrow', sans-serif; 
	color: #eeecd5; 
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
	background:#121212 !important;
}
p{
	font-size:16px;
	line-height:23px;
	color:#444;
}
a:hover{
	text-decoration:none;
}
.section {
	/*margin-bottom: 500px; */ 
	margin-bottom: 0px; 
	position: relative;
	/*box-shadow: 0 0px 12px rgba(0, 0, 0, 0.9); */
}

.page {
	padding-left: 30px;
	padding-right: 30px;
	margin-top:90px;
	min-height:800px;
	padding-bottom:150px;
}


/* Navbar */
#navbar {
	background:#000;
	z-index:999999 !important;
	min-height:90px;
	position:fixed;
	top:0px;
	}

#navbar .nav{
	float:right;
	}

.navbar .nav > li > a{
    background-color: transparent;
    text-decoration: none;
font-family:"Source_Sans";
padding:10px 20px;
text-align:center;
text-shadow:none !important;
line-height:26px;
display:block;
}
.navbar .nav > li > a > i{
	font-size:20px;
	border-radius:50%;
	padding:12px 8px;
}
.nav{
}
.nav li{
	width:100px;
}
#logo{
	float:left;
	font-size:18px;
	margin-left:20px;
	margin-top:17px;
	text-shadow:none;
	text-transform:uppercase;
}
#logo-alt{
font-family:"Hero_Light";
	text-transform:uppercase;
}



/* Home */

#home{
	margin-bottom: 300px; 
	position: relative;
	background:none !important;
	box-shadow:none !important;
}
.promo-heading{
	font-size:64px;
font-family:"neou_thin";
}
.promo-heading-bold{
	font-size:148px;
font-family:"neou_bold";
line-height:192px;
}
.promo-subheading{
	/*font-size:36px;*/
font-family:"bariol_regular";
line-height:48px;
}
.promo-subheading-alt{
	/*font-size:36px;*/
	font-family:"Nexa_Bold";
text-transform:uppercase;
line-height:48px;
}
.promo-smallheading{
	/*font-size:24px;*/
font-family:"bariol_regular";
line-height:32px;
}
.promo-smallheading-alt{
	/*font-size:24px;*/
font-family:"Source_Sans";
text-transform:uppercase;
line-height:32px;
}
.promo-smallheading-alt-small{
	/*font-size:18px;*/
font-family:"Source_Sans";
text-transform:uppercase;
line-height:25px;
}
.promo-smallheading-alt-small-inner{
	/*font-size:18px;*/
font-family:"bariol_regular";
line-height:25px;
}
.common-mainheading{
font-family:"liberation_Sans";
text-transform:uppercase;
}
.common-upperheading{
	font-family:"bariol_regular";
}
.common-subheading{
font-family:"Nexa_Bold";
text-transform:uppercase;
/*font-size:20px;*/
}
.common-subheading-small{
	font-family:"bariol_regular";
font-weight:normal;
}
.tiny-subheading{
	margin-top:15px;
	font-size:30px;
	font-family:"bariol_regular";
font-weight:bold;
}
.promo-info{
	line-height:32px;
	font-family:"bariol_regular";
	font-size:24px;
}
.promo-social{
}
.promo-social a{
	margin-left:10px;
	margin-right:10px;
}
.promo-social a:hover{
	margin-left:10px;
	margin-right:10px;
	text-decoration:none;
}
.promo-social a > i{
	font-size:48px;
	border-radius:50%;    
	padding: 34px 45px 32px 22px;
}



/* About*/
.about-text{
}
.about-image{
}
.about-thumb{
	border-radius: 50% 50% 50% 50%;
    font-size: 81px;
    padding: 72px 95px 60px 35px;
}
.about-thumb:hover{
	border-radius: 50% 50% 50% 50%;
    font-size: 81px;
    padding: 72px 95px 60px 35px;
	cursor:pointer;
}
.inner-social{
}
.inner-social a{
	margin-left:10px;
	margin-right:10px;
}
.inner-social a:hover{
	margin-left:10px;
	margin-right:10px;
	text-decoration:none;
}
.inner-social a > i{
	font-size:48px;
	border-radius:50%;    
	padding: 34px 45px 32px 22px;
}
.team-social {
}
.team-social a {
    margin-left: 10px;
    margin-right: 10px;
}
.team-social a:hover {
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
}
.team-social a > i {
    border-radius: 50% 50% 50% 50%;    
	font-size: 28px;
    padding: 18px 22px 16px 12px;
}
/* Features*/
.features-thumb{
	
	border-radius: 50% 50% 50% 50%;
    font-size: 32px; 
	padding: 25px 30px 20px 15px;
	cursor:pointer;
}
/* Services*/
.services-thumb{
	
	border-radius: 50% 50% 50% 50%;    
	font-size: 27px;
    padding: 14px 18px 10px 9px;
	cursor:pointer;
}
/*Works*/
.filter a:hover, .current a { color: #5F8BBD;}


/*Blog*/
.post-info{
	font-size:16px;
}
.blog-thumb{
	border-radius: 50% 50% 50% 50%;    
	font-size: 20px;
    padding: 7px 10px 7px 6px;
	cursor:pointer;
}
.post-info div{
	display:inline-block;
	float:left;
}
.post-info{
	clear:both;
	height:30px;
}
 .blog-label{
font-family:"Source_Sans";
padding:4px;
}
.post-info div .blog-label i{
	background:none !important;
}

/* Contact */
#map{
	height:250px;
	z-index:999;
	margin-left:5px;
}
.map
{
    z-index: -5;
    width: 100%;
    height:100%;
}
.contactform{
	background:url(../images/overlay.png) repeat;
	color:#222;
	font-family:liberation_Sans;
	font-size:14px;
	font-weight:400;
}
.contactform h3
{
	line-height:24px;
	margin-bottom:5px;
	color: #2FBFFF;
    font-family: "Hero_Light";
    text-transform: uppercase;
}
.contactform p
{
	color:#222222;
}

.contactform article
{
	line-height:24px;
	margin-bottom:5px;
}

.contactform input[type=text]
{
	border:solid 1px #777;
	width:255px;
}

.contactform input[type=email]
{
	border:solid 1px #777;
	width:255px;
}

.contactform input[type=phone]
{
	border:solid 1px #777;
	width:255px;
}

.contactform textarea
{
	border:solid 1px #777;
	width:255px;
}
.contact-icons{
	list-style:none;
}
.contact-icons li{
	font-size:16px;
}
.contact-icons li span{
	margin-right:5px;
	font-size:16px;
}
.error
{
	color:#FF4300;
	display:none;
	font-family:liberation_Sans;
	font-weight:bold;
}


/* Footer */
footer {}

/* Styleselector */
#styleselector {background:url(../images/dark.png) repeat; position: fixed; width: 145px; padding: 15px; right: 0; top: 30%; z-index: 999999; border:solid 3px #000; border-top-left-radius:10px; border-bottom-left-radius:10px;}
#styleselector #colors {list-style: none; margin: 0; font-size: 0;}
#styleselector #colors li {cursor: pointer; display: inline-block; width: 42px; height: 42px; margin: 0 15px; border-radius:42px;}
#styleselector #colors #red {background-color: #FF2727;}
#styleselector #colors #purple {background-color: #A07BAE;}
#styleselector #colors #green {background-color: #97BF5F;}
#styleselector #colors #grey {background-color: #989898;}
#styleselector #colors #blue {background-color: #5F8BBD;}
#styleselector #colors #orange {background-color: #FE9E36;}
#styleselector #colors #cyan {background-color: #63D0D0;}
#styleselector #colors #magenta {background-color: #CE4480;}
#styleselector #colors .tick {display: none; height: 42px; background: url('../img/icons/tick.png') no-repeat scroll 50% 50% transparent;}
#styleselector #colors .color-active .tick {display: block;}
#styleselector #styleselector-toggle {cursor: pointer; position: absolute; background: url('../img/icons/cog.png') no-repeat scroll 50% 50% #000; width: 38px; height: 38px; left: -38px; top: 17px; border-top-left-radius:10px; border-bottom-left-radius:10px;}
#styleselector .buy {background-color: #0b0b0b; display: block; border-top: 1px solid #3b3a38; color: #fff; text-transform: uppercase; text-align: center; padding: 5px;}
#styleselector .buy:hover {opacity: 0.8;}

/* Responsive */
@media (max-width: 1200px) {

body{
	overflow-x:hidden !important;
}  
}

@media (max-width: 979px) {

body{
	overflow-x:hidden !important;
}  
}

@media (max-width: 768px) {
  
body{
	overflow-x:hidden !important;
}
#navbar{
    text-align: center;
}
#logo {
    float:none;
    font-size: 18px;
    text-shadow: none;
    text-transform: uppercase;
	margin-top:0px;
}
#navbar{
	min-height:100px;
	position:fixed;
	top:0px;
}

.nav-thumb{
	display:none !important;
}
.nav{
	background:#111;
	width:100%;
}
.nav li{
	width:auto;
}
.nav li:hover{
	width:auto;
	background:#777;
}
.navbar .nav > li > a {
	line-height: normal;
    padding: 0 15px 12px;
	font-size:16px;
	color:#fff;
}
.navbar .nav > li > a:hover {
	line-height: normal;
    padding: 0 15px 12px;
	font-size:16px;
	color:#222 !important;
}
#navbar .nav {
    float: left;
    padding-left: 20px;
}
}
@media (max-width: 480px) {
  
.nav-thumb{
	display:none !important;
}

}



/*Button Extensions*/

.btn {
	border-radius:0 !important;
}
